<nav>
    <div class="container">
      <a class="menu" href="#">Menu</a>
      <div class="navbar-container" id="">
        <ul>
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Games</a>
          </li>
          <li class="nav-item">
  
            <a class="nav-link" routerLink="/profile" href="/profile">Profile</a>
  
          </li>
          @if (usersListVisible) {
            <li class="nav-item">
                <a class="nav-link" href="#">Users</a>
              </li>
          }
          <li class="nav-item">
          @if(!isLoggedIn){
            <a class="nav-link register" routerLink="/login" href="/login">Log In/Register</a>
          }
         
           
        </ul>
        <button id="modo-btn" (click)="toggleAdminMode()">Modo Admin: {{ usersListVisible ? 'On' : 'Off' }}</button>
      </div>
    </div>
  </nav>
