<div class="container"> <br>
  <div class="img-home tittle"><img src="assets/img/home.png" alt="Monopoly" ></div><!--imagen-->
  <div class="text">
    <div class="dropdown">
      <button class="dropbtn">Introduction</button>
      <div class="dropdown-content">
        In Monopoly, players compete to become the wealthiest tycoon by buying, selling, and trading properties.
      </div>
    </div>
    
    <div class="dropdown">
      <button class="dropbtn">Paying Rent</button>
      <div class="dropdown-content">
        Let's talk about one of the fundamental rules of Monopoly: paying rent. 
        When a player lands on a property owned by another player, they must pay rent. 
        This rule is enforced throughout the game to ensure fair competition. 
        For example, if you land on Park Place, owned by another player, you will need to pay them rent. 
        The amount of rent you pay depends on the property's value and any houses or hotels built on it.
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Paying Strategy</button>
      <div class="dropdown-content">
        In Monopoly, paying rent helps property owners generate income and can be a significant source of strategy for players. 
        It's essential to manage your finances wisely to avoid bankruptcy and stay in the game. 
        Remember, the ultimate goal is to bankrupt your opponents while amassing wealth for yourself.
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Game Tips</button>
      <div class="dropdown-content">
        As you navigate the board and make strategic decisions, keep in mind the various rules and opportunities presented by Monopoly. 
        Whether you're buying your first property or negotiating a trade, every move counts on your journey to financial domination!
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Conclusion</button>
      <div class="dropdown-content">
        Enjoy your time playing Monopoly, and may the best tycoon win!
      </div>
    </div>
  </div>
</div>
  

<div class="img-rotating"><img src="assets/img/face.png" ></div> 