<button id="dices-button" style="margin-right: 20px; width: 200px; height: 200px; font-size: x-large;">Aleatory number 1/6</button>
<div id="board" class="card">

  <!-- Bottom Row -->

    <!--  -->
    <div class="card corner go">START <br>
      <img src="assets/img/arrow.png" id="arrow-img-start" >
    </div>
    <!--  -->
    <div class="card bottom road mediterranean brown">
      MEDITERRANEAN AVENUE
      <div class="value">60€</div>
    </div>
    <!--  -->
    <div class="card bottom comunity-chest">COMMUNITY CHEST
      <img id="card-chest-img" src="assets/img/chest.png">
    </div>
    <!--  -->
    <div  class="card bottom road baltic brown">
      BALTIC AVENUE
      <div class="value">60€</div>
    </div>
    <!--  -->
    <div class="card bottom TAX">
      INCOME TAX <br>
      <img src="assets/img/money-lost.png" id="money-lost-img" alt="">
      <div class="value">PAY 200€</div>
    </div>
    <!--  -->
    <div class="card bottom train-station">
      READING RAILROAD  <br>
      <img src="assets/img/trainstation.png" id="train-station-img" alt="">
      <div class="value">200€</div>
    </div>
    <!--  -->
    <div class="card bottom oriental lightblue">
      ORIENTAL AVENUE
      <div class="value">100€</div>
    </div>
    <!--  -->
    <div class="card bottom chance">CHANCE <br>
      <img id="card-chance-img" src="assets/img/chance.png">
    </div>
    <!--  -->
    <div class="card bottom vermount lightblue">
      VERMOUNT AVENUE
      <div class="value">100€</div>
    </div>
    <!--  -->
    <div class="card bottom connecticut lightblue">
        CONNECTICUT AVENUE
        <div class="value">120€</div>
      </div>


  <!-- Left Column -->

    <div class="card corner jail"></div>
    <!--  -->
    <div class="card left pink" id="charles">
      ST. CHARLES PLACE
      <div class="value">140€</div>
    </div>
    <!--  -->
    <div class="empty">
      <img src="img/logo.png" id="logo">
      <img src="img/chance.png" id="chance-img">
      <img src="img/chest.png" id="chest-img">
    </div>
    <!--  -->
    <div class="card left electric-company">
      ELECTRIC COMPANY <br>
      <img src="img/lightbulb.png" id="lightbulb-img" alt="">
      <div class="value">150€</div>
    </div>
    <!--  -->
    <div class="card left pink" id="states">
      STATES AVENUE
      <div class="value">140€</div>
    </div>
    <!--  -->
    <div class="card left pink" id="virginia">
      VIRGINIA AVENUE
      <div class="value">160€</div>
    </div>
    <!--  -->
    <div class="card left train-station" id="pensilvania">
      PENSILVANIA RAILROAD <br>
      <img src="img/trainstation.png" id="train-station-img" alt="">
      <div class="value">200€</div>
    </div>
    <!--  -->
    <div class="card left orange" id="james">
      ST. JAMES PLACE
      <div class="value">180€</div>
    </div>
    <!--  -->
    <div class="card bottom-comunity-chest">COMMUNITY CHEST
      <img id="card-chest-img" src="img/chest.png">
    </div>
    <!--  -->
    <div class="card left orange" id="tenessee">
      TENESSEE AVENUE
      <div class="value">180€</div>
    </div>
    <!--  -->
    <div class="card left orange" id="new-york">
      NEW YORK AVENUE
      <div class="value">200€</div>
    </div>
    <!--  -->

    
  <!-- Top Row -->

    <div class="card top parking">FREE PARKING <br>
      <img src="img/parking.png" id="parking-img" alt="">
    </div>
    <!--  -->
    <div class="card top red" id="kentucky">
      KENTUCKY AVENUE
      <div class="value">220€</div>
    </div>
    <!--  -->
    <div class="card top-chance">CHANCE <br>
      <img id="card-chance-img" src="img/chance.png">
    </div>
    <!--  -->
    <div class="card top red" id="indiana">
      INDIANA AVENUE
      <div class="value">220€</div>
    </div>
    <!--  -->
    <div class="card top red" id="illinois">
      ILLINOIS AVENUE
      <div class="value">240€</div>
    </div>
    <!--  -->
    <div class="card top train-station" id="railroad">
      B. & O. RAILROAD <br>
      <img src="img/trainstation.png" id="train-station-img" alt="">
      <div class="value">200€</div>
    </div>
    <!--  -->
    <div class="card top yellow" id="atlantic">
      ATLANTIC AVENUE
      <div class="value">260€</div>
    </div>
    <!--  -->
    <div class="card top yellow" id="ventnor">
      VENTNOR AVENUE
      <div class="value">260€</div>
    </div>
    <!--  -->
    <div class="card top-water-company">
      WATER WORKS <br>
      <img src="img/water-company.png" id="water-company-img" alt="">
      <div class="value">150€</div>
    </div>
    <!--  -->
    <div class="card top yellow" id="marvin">
      MARVIN GARDENS
      <div class="value">280€</div>
    </div>
    <!--  -->


  <!-- Right Column -->
    <!--  -->
    <div class="card right prison">GO TO THE PRISON
      <img id="arrow-img" src="img/arrow.png">
    </div>
    <!--  -->
    <div class="card right green" id="pacific">
      PACIFIC AVENUE
      <div class="value">300€</div>
    </div>
    <!--  -->
    <div class="card right green" id="carolina">
      NORTH CAROLINA AVENUE
      <div class="value">300€</div>
    </div>
    <!--  -->
    <div class="card right-comunity-chest">COMMUNITY CHEST
      <img id="card-chest-img" src="img/chest.png">
    </div>
    <!--  -->
    <div class="card right green" id="pennsylvania">
      PENNSYLVANIA AVENUE
      <div class="value">320€</div>
    </div>
    <!--  -->
    <div class="card right train-station" id="short-line">
        SHORT LINE <br>
        <img src="img/trainstation.png" id="train-station-img" alt="">
      <div class="value">200€</div>
    </div>
    <!--  -->
    <div class="card right-chance">CHANCE <br>
      <img id="card-chance-img" src="img/chance.png">
    </div>
    <!--  -->
    <div class="card right darkblue" id="park">
        PARK PLACE
      <div class="value">350€</div>
    </div>
    <!--  -->
    <div class="card right" id="luxury">
        LUXURY TAX <br>
        <img src="img/money-lost.png" id="money-lost-img" alt="">
      <div class="value">PAY 100€</div>
    </div>
     <!--  -->
     <div class="card right darkblue" id="boardwalk">
        BROADWALK
      <div class="value">400€</div>
    </div>
