/* General options */
*{
    margin: 0;
    font-size: 0.92em;

}

body {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* margin: 0; */
	/* background-image: url("https://i.pinimg.com/originals/a4/73/cd/a473cda6c0a58d9b2e2bc2292d16c334.jpg"); */
	background-position: center;
	background-repeat: repeat;
	background-size: 100px;
    padding: 0px;
    margin: 0px;

}

#board {
	display:grid;
	grid-template-columns: repeat(11, 140px);
	grid-template-rows:  repeat(11, 90px);
	text-align: center;
    background-color:#DCF3D4;

    
}
.card{
	border: 1px solid black;
    position: relative;
    text-align: center;
}
.empty{
    margin: 10px;
    border: 4px solid black;
    /* background-color: brown; */
    position: relative;

    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
	grid-column-start: 2;
    grid-column-end: span 9;
	grid-row-start: 2;
    grid-row-end: span 9;
}
/* Images' propierties */

#logo{
    width: 1100px;
    transform: rotate(-15deg);
}

#dices-button{
    position: absolute;
    display: flex;
    bottom: 5%;
    right: 5%;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: xx-large;

}

#buy-button{
    position: absolute;
    display: flex;
    bottom: 5%;
    right: 15%;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: xx-large;
}

.img-logo{

    position: absolute;
    left: 5%;
    top: 25%;
}

.image-card{
    position: absolute;
    display: flex;
    bottom: 30%;
    right: 5%;
    width: 350px;
    height: 500px;
    /* animation: girar-carta 4s  1; */
    /* border: 2px solid black; */
}

.sold-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* La imagen estará invisible al principio */
    transition-duration: 0.2s; /* Agrega una transición para la opacidad */
  }
  
  .animar .sold-image {
    opacity: 1; 
  }

/* keyframe of image-card */

.animar {
    animation: girar-carta 6s 1;
  }
  
  @keyframes girar-carta {
    0% { transform: rotateY(0deg) rotateZ(0deg) }
    100% { transform: rotateY(720deg) rotateZ(0deg) }
  }

#text{
    position: absolute;
    display: flex;
    bottom: 25%;
    right: 5%;
    font-size: x-large;
    font-weight: bold;
    /* width: 350px;
    height: 500px; */
}
/* Images */

#chance-img{
    position: absolute;
    left: 6%;
    /* top: 10%; */
    width: 100px;
    height: 175px;
    transform: rotate(-90deg);
    /* background-color: white; */
    border: 1px solid black;
    padding: 20px;
    cursor: pointer;
}

#chest-img{
    position: absolute;
    right: 3%;
    bottom: 5%;
    width: 250px;
    height: 200px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}

#parking-img{
    max-width: 70%;
    max-height: 70%;
    margin: 5%;    
}

#train-station-img{
    max-width: 60%;
    height: 60%;
}



/* Cells positions */
#charles{
    grid-column-start: 11;
    grid-column-end: 12;
}

.electric-company{
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 4;
}

#states{
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 4;
    grid-row-end: 5;
    
}

#virginia{
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 6;
}

#pensilvania{
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 6;
    grid-row-end: 7;
}

#james{
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 7;
    grid-row-end: 8;
}

.bottom-comunity-chest{
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 8;
    grid-row-end: 9;
}

#tenessee{
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 9;
    grid-row-end: 10;
}

#new-york{
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 10;
    grid-row-end: 11;
}

.parking{
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 11;
    grid-row-end: 12;
}

#kentucky{
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 11;
    grid-row-end: 12;
}

.top-chance{
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 11;
    grid-row-end: 12;
}

#indiana{
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 11;
    grid-row-end: 12;
}

#illinois{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 11;
    grid-row-end: 12;
}

#railroad{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 11;
    grid-row-end: 12;
}

#atlantic{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 11;
    grid-row-end: 12;
}

#ventnor{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 11;
    grid-row-end: 12;
}

.top-water-company{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 11;
    grid-row-end: 12;
}

#marvin{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 11;
    grid-row-end: 12;
}

.prison{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 11;
    grid-row-end: 12;
}

#pacific{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 10;
    grid-row-end: 11;
}

#carolina{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 10;
}

.right-comunity-chest{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 9;
}

#pennsylvania{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
}

#short-line{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
}

.right-chance{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
}

#park{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

#luxury{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

#boardwalk{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* Background Colours for the cards and the positions' prices */

.brown::before{
    margin-bottom: 7%;
    content: " ";
    display: block;
    top: 0;
    width: 100%;
    height: 25%;
    border: 1px solid black;
    background-color: brown;
}

.green::before{
    margin-bottom: 7%;
    content: " ";
    display: block;
    top: 0;
    width: 100%;
    height: 25%;
    border: 1px solid black;
    background-color: #7DB968;
}

.darkblue::before{
    margin-bottom: 7%;
    content: " ";
    display: block;
    top: 0;
    width: 100%;
    height: 25%;
    border: 1px solid black;
    background-color: darkblue;
}

.lightblue::before{
    margin-bottom: 7%;
    content: " ";
    display: block;
    top: 0;
    width: 100%;
    height: 25%;
    border: 1px solid black;
    background-color: lightblue;
}

.orange::before{
    margin-bottom: 7%;
    content: " ";
    display: block;
    top: 0;
    width: 100%;
    height: 25%;
    border: 1px solid black;
    background-color: orange;
}

.red::before{
    margin-bottom: 7%;
    content: " ";
    display: block;
    top: 0;
    width: 100%;
    height: 25%;
    border: 1px solid black;
    background-color: red;
}

.yellow::before{
    margin-bottom: 7%;
    content: " ";
    display: block;
    top: 0;
    width: 100%;
    height: 25%;
    border: 1px solid black;
    background-color: yellow;
}

.pink::before{
    margin-bottom: 7%;
    content: " ";
    display: block;
    top: 0;
    width: 100%;
    height: 25%;
    border: 1px solid black;
    background-color: pink;
}

#card-chance-img{
    max-width: 50%;
    max-height: 50%;
    margin: 5%;
}

#card-chest-img{
    max-width: 50%;
    max-height: 50%;
    margin: 5%;
}

#lightbulb-img, #money-lost-img, #water-company-img{
    max-width: 50%;
    max-height: 50%;
}



/* Before and after of the prison cell to see it like the real Monopoly*/

.jail::before{
    content: "PRISON";
    color: white;
    position: absolute;
    display: block;
    right: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background: repeating-linear-gradient(to right, orangered, orangered 15px, black 3px, black 20px);
}

#arrow-img{
    max-width: 50%;
    max-height: 50%;
    margin: 5%;
    transform: rotate(-210deg);
}

#arrow-img-start{
    max-width: 50%;
    max-height: 50%;
    margin: 5%;
    transform: rotate(-180deg);
}

.casillaActiva {
    position: relative;
  }
  
  .casillaActiva::after{
    content: '';
    position: absolute;
    background-color: black;
    bottom: 5%;
    left: 5%;
    width: 10px;
    height: 10px; 
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }

  .jugador-activo {
    font-weight: bold; /* Por ejemplo, resaltar el jugador activo */
  }

  .jugadores{
    position: absolute;
    display: flex;
    right: 10%;
    top: 5%;
    width: 150px;
    height: 70px;
  }


.add-player{
    border: 2px solid black;
    position: absolute;
    top: 0;
    right: 0;
    margin: 3%;
    width: 400px;
    height: 100px;
    font-size: 1.5em;
}