<div
  class="container"
  id="container"
  [ngClass]="{ 'right-panel-active': panelActive }"
>
  <!-- Formulario de registro -->
  <div class="form-container sign-up-container">
  <!--
     <form [formGroup]="formulario" action="#">
      <h1>Create Account</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>or use your email for registration</span>
      <div>
        <input
          type="text"
          class="form-control"
          id="inputNickname"
          formControlName="nickname"
          placeholder="Nickname"
        />
        @if (NicknameValid) {
        <div>
          <span class="error"> Nickname is required </span>
        </div>
        }
      </div>
      <div>
        <input
          type="text"
          class="form-control"
          id="inputName"
          formControlName="nombre"
          placeholder="Name"
        />
        @if (NameValid){
        <div>
          <span class="error">Name is required </span>
        </div>
        }
      </div>
      <div>
        <input
          type="email"
          class="form-control"
          id="inputEmail"
          formControlName="email"
          placeholder="Email"
        />

        @if (EmailValid){
        <div>
          <span class="error">email is required</span>
        </div>
        }
      </div>
      <div>
        <input
          type="password"
          class="form-control"
          id="inputPassword"
          formControlName="password"
          placeholder="Password"
        />
        @if (PasswordValid){ @for (error of PasswordErrors; track $index) {
        <div>
          <span class="error">Must contain at least {{ error }}</span>
        </div>
        } }
      </div>

      <div>
        <button type="submit">Sign Up</button>
      </div>
    </form>

  -->
   
  </div>
  <!-- Formulario de inicio de sesión -->
  <div class="form-container sign-in-container">
    <!-- Formulario de inicio de sesión -->
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      novalidate
      name="form"
    >
      <h1>Sign in</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>or use your account</span>
      <input type="text" placeholder="nickname" formControlName="nickname" />
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
      />
      <a href="#">Forgot your password?</a>
      <!-- Agregamos preventDefault al evento de clic -->
      <button type="submit">Sign In</button>
      <div class="form-group">
        @if (isLoginFailed) {
        <div class="alert alert-danger" role="alert">
          Login failed: {{ errorMessage }}
        </div>
        }
      </div>
    </form>
  </div>

  <!-- Overlay -->
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button class="ghost" (click)="togglePanel($event)" id="signIn">
          Sign In
        </button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>Enter your personal details and start journey with us</p>
        <button class="ghost" (click)="togglePanel($event)" id="signUp">
          Sign Up
        </button>
      </div>
    </div>
  </div>
</div>
<footer></footer>
