<div class="add-player">
    <h2>Players in the game:</h2>
    <br>
    <form (submit)="agregarJugador(nombreJugador.value, colorSeleccionado.value, $event)">
      <input type="text" #nombreJugador placeholder="Name of the player">
      <br><br>
      <select #colorSeleccionado>
        <option value="yellow">Yellow</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
        <option value="red">Red</option>
        <option value="orange">Orange</option>
        <option value="black">Black</option>
        <option value="brown">Brown</option>
        <option value="pink">Pink</option>
      </select>
      <br><br>
      <button type="submit" [disabled]="numeroJugadores >= maximoJugadores">Add player</button>
    </form>
    @if (numeroJugadores=== maximoJugadores) {
      <p>You mustn't add more players.</p>
    }
    @if (numeroJugadores===minimoJugadores) {
      <p>You must add at least 1 player.</p>
    }

    @if (jugadores.length > 0) 
    {
        <table>
            <tr>
              <th>Name</th>
              <th>Color</th>
              <th>Action</th>
            </tr>
            <tr *ngFor="let jugador of jugadores; let i = index">
              <td>{{ jugador.nombre }}</td>
              <td [style.background-color]="jugador.color"></td>
              <td><button class="delete-btn" (click)="eliminarJugador(i)">Delete</button></td>
            </tr>
          </table>
    }
    
  </div>
  