
  @if(currentUser){
    <div class="container">
     
     
      <h2>Perfil de Usuario</h2>
      <p class="nickname">Nickname: {{ currentUser.nickname }}</p>
      <form [formGroup]="profile" action="#" (ngSubmit)="updateUser()">
        <p class="nombre">Nombre: {{ currentUser.nombre }}</p>
        <p class="email">Email: {{ currentUser.email }}</p>
        @if(!modify){
          <input class="nombre-input" formControlName="nombre" >
          <input class="email-input" formControlName="email">
          <button type="submit">Guardar cambios</button>
          <button (click)="toggleModify()">Cancelar</button>

        }
        @if(modify){
          <button (click)="toggleModify()">Hacer cambios</button>
        }
        
      </form>
    </div>
  }

 