/* Estilos Generales */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Tipografía suave y moderna */
    background-color: #f4f4f4; /* Color de fondo suave */
    color: #333; /* Color de texto principal */
  }
  
  /* Estilos del Contenedor */
  .container {
    background-color:lightblue;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1), 
                0 2px 10px rgba(0,0,0,0.1); /* Sombras suaves */
    width: calc(100% - 40px); /* Ancho con un poco de margen */
    max-width: 900px;
    max-height: 900px ;
    margin: 20px auto; /* Centrado y margen superior e inferior */
    padding: 20px; /* Espaciado interno */
    overflow: hidden;
  }
  
  /* Estilos del Título */
  h2 {
    color: #FF4747; 
    margin-bottom: 20px;
  }
  
  /* Estilos de los Párrafos */
  p {
    line-height: 1.6; /* Espaciado de línea para mejor legibilidad */
    margin-bottom: 10px; /* Espaciado entre párrafos */
  }
  
  /* Pequeñas mejoras para espaciado y visualización */
  p:last-child {
    margin-bottom: 0; /* Elimina el margen del último párrafo */
  }
  
  /* Para el nombre de usuario y el email, podrías querer algo especial */
  .nickname, .email {
    font-weight: bold; /* Hace que el nickname y el email sean más notorios */
  }
  
  /* Añade estas reglas a tu CSS existente para mejorar los inputs y botones */

input.nombre-input, input.email-input {
  width: 95%; /* Ajusta al tamaño del contenedor */
  padding: 8px; /* Espaciado interno para facilidad de escritura */
  margin-bottom: 10px; /* Espaciado entre inputs */
  border: 1px solid #ccc; /* Borde sutil */
  border-radius: 4px; /* Bordes redondeados para mejor estética */
}

button {
  background-color: #FF4747; /* Color consistente con el tema */
  color: white; /* Texto blanco para contraste */
  padding: 10px; /* Espaciado interno para comodidad */
  border: none; /* Sin borde para un look más limpio */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cursor de mano para indicar acción */
  margin-right: 5px; /* Espaciado entre botones */
}

button:hover {
  opacity: 0.9; /* Efecto de hover sutil */
}
